.card-container {
    width: 80%;
    min-height: 170px;
    margin: 0 auto;

    border: solid 1px var(--dark-neutral);
    border-radius: 10px;
    background-color: var(--medium-neutral);
    color: var(--light-font)
}