
/* Global Colors */
:root {

  /* Color sheme */
  --primary: rgb(115, 182, 249);
  --secondary: rgb(255, 185, 119);
  --tertiary: rgb(106, 255, 113);
  --dark-neutral: rgb(91, 91, 91);
  --medium-neutral: rgb(128, 128, 128);
  --neutral: rgb(247, 245, 243);
  --dark-font: rgb(45, 44, 44);
  --light-font: rgb(246, 246, 246);

  /* Default spacing options */
  --padding: 15px;

 }

 .AR{
  text-align: right;
  padding-right: var(--padding);
 }

 .comp-right{
  float: right;
  background-color: var(--tertiary);
  color: var(--dark-font);
  margin-right: var(--padding);
 }

 .flex-container{

 }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
